---
key: 3
title: Publications
permalink: /Publications/
options: fullwidth
excerpt: Peer reviewed works
image: ffym3.jpg
background-image: lab-512503_1920.jpg
order: 3
---

<div class="pub-entry">

  {% if post.authors %}
    <span class="pub-authors">
      {{ post.authors }} ({{ post.date | date: "%Y" }})
    </span>
  {% endif %}

  <span class="pub-title">
    {% if post.paperurl %}
      <a href="{{ post.paperurl }}" target="_blank">
        {{ post.title }}
      </a>
    {% else %}
      <a href="{{ post.url | prepend: site.baseurl }}">
        {{ post.title }}
      </a>
    {% endif %}
  </span>

  {% if post.journal %}
    <span class="pub-journal">
      {{ post.journal }}
    </span>
  {% endif %}

  {% if post.doi %}
    <span class="pub-doi">
      <a href="https://doi.org/{{ post.doi }}" target="_blank">
        https://doi.org/{{ post.doi }}
      </a>
    </span>
  {% endif %}

  {% if post.pdf %}
    <span class="pub-pdf">
      <a href="{{ post.pdf }}" target="_blank">PDF</a>
    </span>
  {% endif %}

</div>
