---
key: 3
title: Publications
permalink: /Publications/
options: fullwidth
excerpt: Peer reviewed works
image: ffym3.jpg
background-image: lab-512503_1920.jpg
order: 3
---

{% assign pubs = site.categories.publications | sort: "date" | reverse %}

{% assign current_year = "" %}

<div class="bibliography">

{% for post in pubs %}

  {% assign year = post.date | date: "%Y" %}

  {% if year != current_year %}
    {% assign current_year = year %}
    <h2 class="pub-year">{{ year }}</h2>
  {% endif %}

  <div class="pub-entry">

    <span class="pub-title">
      <a href="{{ post.url | prepend: site.baseurl }}">
        {{ post.title }}
      </a>
    </span>

    {% if post.authors %}
  <span class="pub-authors">
    {{ post.authors }}
  </span>
{% endif %}

    {% if post.journal %}
      <span class="pub-journal">
        {{ post.journal }}
      </span>
    {% endif %}

    {% if post.doi %}
      <span class="pub-doi">
        <a href="https://doi.org/{{ post.doi }}" target="_blank">
          https://doi.org/{{ post.doi }}
        </a>
      </span>
    {% endif %}

    {% if post.pdf %}
      <span class="pub-pdf">
        <a href="{{ post.pdf }}" target="_blank">PDF</a>
      </span>
    {% endif %}

  </div>

{% endfor %}

</div>
